.titlebar{
  background-color: rgb(200,0,0);
  height:60px;
  color:white;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.title{
  
}

.menu{
  font-size:20px;
  padding-left:30px;
  padding-right:30px;  
}